* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e0d6e3, #34243a);

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: rgba(52, 36, 58, 0.959);

    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #e0d6e3bb;
    box-shadow: 1px 1px 18px 10px rgba(216, 170, 237, 0.931);

}

.menu .btn {
    border: 2px solid white;
    padding: 8px 20px;
    border-radius: 5px;
}

.menu .btn:hover {
    background: white;
    background-color: #e0d6e3bb;
    box-shadow: 1px 1px 18px 10px rgba(216, 170, 237, 0.931);
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    /* Pointer */
}

.mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgba(52, 36, 58, 0.959);
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

.mobile-menu .close-icon {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 5px;
}

.mobile-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile-menu a:hover {
    background-color: #e0d6e3bb;

}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .hamburger {
        display: block;
    }
}